ul li{
    margin-left: 50px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}
* {
    box-sizing: border-box;
}
.search-form{
    margin-bottom: 20px;
    margin-top: 10px;
    /* background: gray; */
    height: 172px;
    justify-content: center;
    display: flex;
    padding: 60px 20px;
    flex-direction: column;
    align-items: center;
    background-position: center;
    /* background-image: url("https://images.unsplash.com/photo-1533470192478-9897d90d5461?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=935&q=80");
    height: 360px;
    padding: 60px 150px; */
}
.search-form .input-group input.search-field {
    border-radius: 4px;
    font-size: 150%;
}

.form-control.search-field {
    height: 60px;
    max-width: 800px;
}
.search-form .input-group .search-results-button {
    position: absolute;
    right: 5px;
    top: 15px;
    z-index: 100;
}

.mr-2, .mx-2 {
    margin-right: 0.5rem!important;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
* {
    box-sizing: border-box;
}


.category__title {
    font-weight: 700;
}
div {
    display: block;
}
a, a:hover {
    color: #011010;
    text-decoration: none;
}
a {
    /* color: #007bff;
    text-decoration: none; */
    background-color: transparent;
    color: #011010;
}
.category__list__item:after {
    content: '\00B7';
    padding: 5px;
    font-weight: bolder;
    cursor: default;
}




@media (min-width: 800px){
.search-form {
    height: 360px;
    padding: 60px 150px;
    background-image: url("https://images.unsplash.com/photo-1533470192478-9897d90d5461?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=935&q=80");
}
.search-form .input-group input.search-field {
    margin-top: 20px;
    padding-left: 20px;
}
.search-form .input-group .search-results-button {
    right: 15px;
    top: 33px;
}
main {
    display: flex;
    justify-content: center;
}
main.front {
    flex-direction: column;
}
}